*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

h1 {
  color: #1a237e;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  color: #1a237e;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
}

.brand-logo{
  font-weight: 500;
  margin-left: 3vw;
}

.sidenav {
  opacity: 0.8;
}

.sidenav-item {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
}

.sidenav-item li{
  width: 100vw;
}

.sidenav-item li a{
  font-size: 1.3rem;
}

.sidenav-trigger {
  position: absolute;
  left: 80vw;
  top: 1vh;
}

.intro-paragraph {
  color: #ffc107;
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 7vh;  
  text-align: center;
}

.slider .indicators .indicator-item.active {
  background-color: #ffc107;
}

.button-container {
  justify-content: center;
  display: flex;
  padding-top: 7vh;
  padding-bottom: 1vh;
}

.button-git {
  background-color: #1a237e;
  color: white;
  font-size: 0.8rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

.button-git:hover {
  background-color: #1a237e;
}

ul {
  text-align: center;
  font-weight: 500;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rieger-img {
  align-self: center;
  width: 80vw;
}

.social-icons a {
  color: #1a237e;
  font-size: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
}

article p {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 7vh;  
}

form {
  padding-left: 3vw;
  padding-right: 3vw;
}

.btn-submit {
  background-color: #1a237e;
  margin-left: 3vw;
}

.btn-submit:focus {
  background-color: #ffc107;
  margin-left: 3vw;
}

footer {
  display: flex;
  justify-content: space-around;
  /* align-self: center; */
}

footer p {
  color: #1a237e;
  font-size: 1rem;
  padding-left: 3vw;
}

.social-icons-footer a {
  color: #1a237e;
  font-size: 1.5rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
  }

  .brand-logo{
    margin-left: 3vw;
  }

  .sidenav-trigger {
    position: absolute;
    left: 90vw;
    top: 1vh;
  }
  
  .button-git {
    font-size: 1.3rem;
  }

  .social-icons a {
    font-size: 4rem;
  }

  .btn-submit {
    background-color: #1a237e;
    margin-left: 1vw;
  }

  footer p {
    font-size: 1.5rem;
  }
  
  .social-icons-footer a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    padding-top: 10vh;
  }

  #nav-mobile a{
    font-size: 1.5rem;
    margin-right: 3vw;
  }
  
  .intro-paragraph {
    font-size: 2rem;
  }

  .slider-container {
    display: flex;
    justify-content: center;
  }

  .slider {
    max-width: 800px;
  }

  .button-git {
    font-size: 1.5rem;
  }

  article h2 {
    padding-bottom: 7vh;
  }

  .name-and-social {
    display: flex;
    flex-direction: column;
  }

  .name-and-social h2 {
    padding-top: 0;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
  }

  .social-container {
    flex-direction: row;
    align-self: center;
    justify-content: center;
  }

  article p {
    padding-top: 0;
  }

  .social-container img {
    width: 400px;
  }

  form {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  footer {
    margin-top: 5vh;
  }

}